public-hoist-pattern[] = *import-in-the-middle*
public-hoist-pattern[] = *require-in-the-middle*
auto-install-peers = false

//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@idea2app:registry=https://npm.pkg.github.com
always-auth=true
