@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@layer utilities {
  .animation-pause-all > * {
    animation-play-state: paused;
  }
}

/* custom 404 page (Global edition) */
div:has(.next-error-h1) {
  height: auto !important;
}

/* custom 404 page (Chinese edition) */
.wrap_404 .wrap_right {
  width: 80vw !important;
  .container {
    width: auto !important;
  }
}
